<div class="container-stretch">

  <!-- Filter by category -->
  <section class="wrap-filters">
    <!-- If res over xs -->
    <div class="btn-group btn-group--filters d-none d-md-flex wrap-switch">
      <button class="btn" (click)="category = 'overview'" [class.selected]="isSelected('overview')">Overview</button>
      <button class="btn" (click)="category = 'codeschool'" [class.selected]="isSelected('codeschool')">Codeschool</button>
    </div>
  </section>

  <main [ngSwitch]="category">

    <!-- *** ACADEMIC *** -->
    <section class="row container-dual">

      <!-- LIST -->
      <app-list-preview
        class="col-12 col-md-4 wrap-list"
        [objects]="diplomas"
        [type]="'diploma'"
        (focusedItem)="focusItem($event)"
        *ngSwitchCase="'overview'">
      </app-list-preview>

      <!-- PREVIEW -->
      <app-preview
        class="col-8 container-preview d-xs-none"
        *ngIf="category === 'overview'"
        [focusedItem]="focusedItem"
        [type]="'diploma'">
      </app-preview>
    </section>

    <!-- *** CERTIFS *** -->
    <section class="container" *ngSwitchCase="'codeschool'">

      <article class="jumbotron wrap-jumbo--sm">
        <app-profile-cs class="row" [profile]="csProfile" [certifs]="csCertifs"></app-profile-cs>
      </article>

      <section class="row container wrap-center">
        <app-card class="col-12 col-md-4 col-lg-3" *ngFor="let certif of csCertifs" [object]="certif"></app-card>
      </section>

    </section>

  </main>

</div>
